<div id="about_content">
  <% @title = 'ErosVideosについて' %>
  <div class="about_content_body">
    <h2>ErosVideosについて</h2>
    <p>様々なエロ動画共有サイトの動画をまとめたサイトです。18歳未満の閲覧は厳禁なので該当者はご退室ください。</p>
    <p>youtubeを参考に動画のブックマーク機能など、いろいろな機能を付けています。</p>
    <p>ただし、完全なド素人が作成しており、技術的には非常に低レベルなので期待はしないでください。</p>
    <p>動画の検索と視聴以外の機能は会員登録しないと使えないようになっていますが、会員登録といってもユーザ名とパスワードを登録するだけですので気軽に登録してみてください。</p>

    <h2>著作権違反について</h2>
    <p>当サイトは他の動画共有サイトの動画を紹介しているだけのサイトであり、著作権侵害の意図はございません。当サイトで紹介している動画や画像の著作権は各権利所有者に帰属しています。</p>
    <p>問題のあるエントリーがあれば、お問い合わせフォームからお問い合わせいただければ迅速に対処します。</p>
    <p>ですが初めに申し上げた通り、あくまで当サイトは他の動画共有サイトの動画を紹介しているだけにすぎないので、動画そのものを削除するなどの対応はできません。</p>
    <p>あくまで紹介ページを削除する程度のことしかできないため、動画の削除依頼の方は当サイトではなく各動画共有サイトへお願いします。</p>
    <p>また、当サイト及び外部リンク先のサイトを利用したことにより、いかなる損失や損害が発生した場合でも、当サイトは一切の責任・義務を負いません。ご利用は閲覧者様の自己責任でお願いします。</p>
  </div>
</div>
